@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:200,300,regular,800);

:root {
  /** colours */
  --indigo-primary: #541fff;

  /** font */
  --font-roboto: "Roboto Slab", sans-serif;
  --font-size-nav-sm: 1.6rem;
  --font-size-normalize: 62.5%;
  --font-size-p-sm: 1.2rem;

  /** header sizes */
  --font-size-h1-sm: 2.5rem;
  --font-size-h2-sm: 2rem;
  --font-size-h3-sm: 1.6rem;
  --font-size-h4-sm: 1.5rem;
  --font-size-h5-sm: 1.35rem;
  --font-size-h6-sm: 1.2rem;

  /** element sizes */
  --card-w-sm: 360px;
  --card-w-md: 400px;
  --card-w-lg: 440px;
  --card-w-xl: 500px;
  --card-h-sm: 500px;
  --card-h-md: 500px;
  --card-h-lg: 600px;
  --card-h-xl: 700px;
  --nav-h: 6rem;
  --full-width: 100%;
  --full-height: 100%;

  /** miscellaneous  */
  --card-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: var(--full-height);
  font-size: var(--font-size-normalize);
  min-width: 360px;
  position: relative;
  width: var(--full-width)
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

body {
  box-sizing: border-box;
  color: #333;
  font-family: var(--font-roboto), "Helvetica Neue", sans-serif;
  margin: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:focus {
  border-color: #666;
}

label {
  display: block;
}

input:disabled {
  color: #ccc;
}
